---
import BaseHead from '../../../components/BaseHead.astro';
import Body from '../../../components/Body.astro';
import BreadCrumb from '../../../components/breadCrumb/BreadCrumb';
import Content from '../../../components/Content.astro';
import Header from '../../../components/header/Header.astro';
import LinksAndStack from '../../../components/linksAndStack/LinksAndStack.astro';
import Main from '../../../components/main/Main.astro';
import ProjectDescription from '../../../components/projectsPage/ProjectDescription.astro';
import ProjectImg from '../../../components/projectsPage/ProjectImg.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../../consts';

const PROJECT_TITLE = 'Admin Dashboard';

const { pathname } = Astro.url;
const BREADCRUMB_PREVIOUS = pathname.split('/')[1];
const BREADCRUMB_LINK = '/' + BREADCRUMB_PREVIOUS;

const BREADCRUMB_TITLE = capitalizeFirstLetter(BREADCRUMB_PREVIOUS);

function capitalizeFirstLetter(string: string) {
  return string.charAt(0).toUpperCase() + string.slice(1);
}
---

<!DOCTYPE html>
<html>
  <head>
    <BaseHead title={SITE_TITLE + ' - ' + PROJECT_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header />
    <Main>
      <Content>
        <BreadCrumb
          breadCrumbLink={BREADCRUMB_LINK}
          breadCrumbTitle={BREADCRUMB_TITLE}
          projectTitle={PROJECT_TITLE}
          year={2023}
        />
        <ProjectDescription
          description='An admin dashboard for a fake e-commerce website. This dashboard will allow the admin to view, create, edit and delete products, categories and users. The admin will also be able to view the orders that have been placed and change the status of the order. The admin will also be able to view the analytics of the website.'
        />
        <LinksAndStack
          hostedApplication={'https://admin-dashboard-six-lake.vercel.app/'}
          githubLink='https://github.com/JoshJAL/admin-dashboard'
          browsers={'Edge/Firefox/Google Chrome/Safari'}
          stack='JavaScript, HTML, CSS'
        />
        <ProjectImg
          projectTitle={PROJECT_TITLE}
          src='/images/adminDashboard/desktop-light.jpg'
          placeHolder='/images/adminDashboard/desktop-lightCompressed.jpg'
          alt='desktop light mode'
        />
        <ProjectImg
          projectTitle={PROJECT_TITLE}
          src='/images/adminDashboard/desktop-dark.jpg'
          placeHolder='/images/adminDashboard/desktop-darkCompressed.jpg'
          alt='desktop dark mode'
        />
        <ProjectImg
          projectTitle={PROJECT_TITLE}
          src='/images/adminDashboard/tablet-light.jpg'
          placeHolder='/images/adminDashboard/tablet-lightCompressed.jpg'
          alt='tablet light mode'
        />
        <ProjectImg
          projectTitle={PROJECT_TITLE}
          src='/images/adminDashboard/tablet-dark.jpg'
          placeHolder='/images/adminDashboard/tablet-darkCompressed.jpg'
          alt='tablet dark mode'
        />
        <ProjectImg
          projectTitle={PROJECT_TITLE}
          src='/images/adminDashboard/phone-1-light.jpg'
          placeHolder='/images/adminDashboard/phone-1-lightCompressed.jpg'
          alt='first mobile image in light mode'
        />
        <ProjectImg
          projectTitle={PROJECT_TITLE}
          src='/images/adminDashboard/phone-1-dark.jpg'
          placeHolder='/images/adminDashboard/phone-1-darkCompressed.jpg'
          alt='first mobile image in dark mode'
        />
        <ProjectImg
          projectTitle={PROJECT_TITLE}
          src='/images/adminDashboard/phone-2-light.jpg'
          placeHolder='/images/adminDashboard/phone-2-lightCompressed.jpg'
          alt='second mobile image in light mode'
        />
        <ProjectImg
          projectTitle={PROJECT_TITLE}
          src='/images/adminDashboard/phone-2-dark.jpg'
          placeHolder='/images/adminDashboard/phone-2-darkCompressed.jpg'
          alt='second mobile image in dark mode'
        />
        <ProjectImg
          projectTitle={PROJECT_TITLE}
          src='/images/adminDashboard/phone-3-light.jpg'
          placeHolder='/images/adminDashboard/phone-3-lightCompressed.jpg'
          alt='third mobile image in light mode'
        />
        <ProjectImg
          projectTitle={PROJECT_TITLE}
          src='/images/adminDashboard/phone-3-dark.jpg'
          placeHolder='/images/adminDashboard/phone-3-darkCompressed.jpg'
          alt='third mobile image in dark mode'
        />
        <ProjectImg
          projectTitle={PROJECT_TITLE}
          src='/images/adminDashboard/phone-sidebar-light.jpg'
          placeHolder='/images/adminDashboard/phone-sidebar-lightCompressed.jpg'
          alt='mobile sidebar in light mode'
        />
        <ProjectImg
          projectTitle={PROJECT_TITLE}
          src='/images/adminDashboard/phone-sidebar-dark.jpg'
          placeHolder='/images/adminDashboard/phone-sidebar-darkCompressed.jpg'
          alt='mobile sidebar in dark mode'
        />
      </Content>
    </Main>
  </Body>
</html>
