---
import BaseHead from '../../../components/BaseHead.astro';
import Body from '../../../components/Body.astro';
import BreadCrumb from '../../../components/breadCrumb/BreadCrumb';
import Content from '../../../components/Content.astro';
import Header from '../../../components/header/Header.astro';
import LinksAndStack from '../../../components/linksAndStack/LinksAndStack.astro';
import ProjectDescription from '../../../components/projectsPage/ProjectDescription.astro';
import ProjectImg from '../../../components/projectsPage/ProjectImg.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../../consts';

const PROJECT_TITLE = 'Java Snake';

const { pathname } = Astro.url;
const BREADCRUMB_PREVIOUS = pathname.split('/')[1];
const BREADCRUMB_LINK = '/' + BREADCRUMB_PREVIOUS;

const BREADCRUMB_TITLE = capitalizeFirstLetter(BREADCRUMB_PREVIOUS);

function capitalizeFirstLetter(string: string) {
  return string.charAt(0).toUpperCase() + string.slice(1);
}
---

<!DOCTYPE html>
<html>
  <head>
    <BaseHead title={SITE_TITLE + ' - ' + PROJECT_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header />
    <main class='pt-[60px]'>
      <Content>
        <BreadCrumb
          breadCrumbLink={BREADCRUMB_LINK}
          breadCrumbTitle={BREADCRUMB_TITLE}
          projectTitle={'Snake in Java'}
          year={2022}
        />
        <ProjectDescription
          description='The classic game of Snake. The player controls a snake that moves around the screen and eats apples. This program is written in Java and uses the Java Swing library to create the GUI.'
        />
        <LinksAndStack githubLink='https://github.com/JoshJAL/JavaSnake' stack='Java' />
        <ProjectImg
          projectTitle={PROJECT_TITLE}
          src='/images/JavaSnake/gameRunning.jpg'
          placeHolder='/images/JavaSnake/gameRunningCompressed.jpg'
          alt='Game Running'
        />
        <ProjectImg
          projectTitle={PROJECT_TITLE}
          src='/images/JavaSnake/gameOver.jpg'
          placeHolder='/images/JavaSnake/gameOverCompressed.jpg'
          alt='Game Running'
        />
      </Content>
    </main>
  </Body>
</html>
