---
import AboutSection from '../components/aboutSection/AboutSection.astro';
import BaseHead from '../components/BaseHead.astro';
import BioSection from '../components/bioSection/BioSection.astro';
import Blurb from '../components/blurb/Blurb.astro';
import Body from '../components/Body.astro';
import ButtonLink from '../components/buttonLink/ButtonLink';
import Content from '../components/Content.astro';
import { FiberContainer } from '../components/fiberContainer/FiberContainer';
import Header from '../components/header/Header.astro';
import IntroAndImage from '../components/introAndImage/introAndImage.astro';
import Main from '../components/main/Main.astro';
import MakesMeHappy from '../components/makesMeHappy/MakesMeHappy.astro';
import { SITE_TITLE, SITE_DESCRIPTION, RESUME, PROJECTS, THINGS_I_USE, THREE_D_PORTFOLIO } from '../consts';
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header />
    <Main>
      <Content>
        <Blurb>Hello, I&apos;m a full-stack developer based in Tampa, Florida!</Blurb>
        <FiberContainer client:load />
        <Blurb>
          You can also check out my 3D Portfolio!
          <div class='my-2'></div>
          <ButtonLink href={THREE_D_PORTFOLIO} text='3D Portfolio' target={'_blank'} />
        </Blurb>
        <IntroAndImage />
        <ButtonLink href={RESUME} text='Resume' target={'_blank'} />
        <AboutSection />
        <ButtonLink href={PROJECTS} text='Portfolio' />
        <BioSection />
        <MakesMeHappy />
        <ButtonLink href={THINGS_I_USE} text='Things I Use' target={'_blank'} />
        <div class='py-3'></div>
      </Content>
    </Main>
  </Body>
</html>
