---
import BaseHead from '../../../components/BaseHead.astro';
import Body from '../../../components/Body.astro';
import BreadCrumb from '../../../components/breadCrumb/BreadCrumb';
import Content from '../../../components/Content.astro';
import Header from '../../../components/header/Header.astro';
import LinksAndStack from '../../../components/linksAndStack/LinksAndStack.astro';
import Main from '../../../components/main/Main.astro';
import ProjectDescription from '../../../components/projectsPage/ProjectDescription.astro';
import ProjectImg from '../../../components/projectsPage/ProjectImg.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../../consts';

const PROJECT_TITLE = 'Simple JavaScript Calculator';

const { pathname } = Astro.url;
const BREADCRUMB_PREVIOUS = pathname.split('/')[1];
const BREADCRUMB_LINK = '/' + BREADCRUMB_PREVIOUS;

const BREADCRUMB_TITLE = capitalizeFirstLetter(BREADCRUMB_PREVIOUS);

function capitalizeFirstLetter(string: string) {
  return string.charAt(0).toUpperCase() + string.slice(1);
}
---

<!DOCTYPE html>
<html>
  <head>
    <BaseHead title={SITE_TITLE + ' - ' + PROJECT_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header />
    <Main>
      <Content>
        <BreadCrumb
          breadCrumbLink={BREADCRUMB_LINK}
          breadCrumbTitle={BREADCRUMB_TITLE}
          projectTitle={PROJECT_TITLE}
          year={2022}
        />
        <ProjectDescription
          description='A simple calculator application that can add, subtract, multiply and divide. Intended for simple mathematical problems.'
        />
        <LinksAndStack
          hostedApplication={'https://joshjal.github.io/simpleCalculator/'}
          githubLink='https://github.com/JoshJAL/simpleCalculator'
          browsers={'Edge/Firefox/Google Chrome/Safari'}
          stack='HTML, CSS, JavaScript, React, NodeJs'
        />
        <ProjectImg
          projectTitle={PROJECT_TITLE}
          src='/images/simpleCalc/simpleCalcHome.jpg'
          placeHolder='/images/simpleCalc/simpleCalcHomeCompressed.jpg'
          alt='Home Page'
        />
        <ProjectImg
          projectTitle={PROJECT_TITLE}
          src='/images/simpleCalc/simpleCalcMultiplication.jpg'
          placeHolder='/images/simpleCalc/simpleCalcMultiplicationCompressed.jpg'
          alt='with multiplication problem'
        />
        <ProjectImg
          projectTitle={PROJECT_TITLE}
          src='/images/simpleCalc/simpleCalcAnswer.jpg'
          placeHolder='/images/simpleCalc/simpleCalcAnswerCompressed.jpg'
          alt='displaying answer'
        />
      </Content>
    </Main>
  </Body>
</html>
